### Merging data from WardWatcher (ICNARC) and Philips (ICCA).

Here use the following files:

* 'encounter_summary (1).rpt'  - a tab separated file with output from a simple SQL run on ICCA to extract basic information about patient encounters (ITU stays).

* 'ICNARC 2015-2018 encounterIds and Readmissions.TXT' - a file containing ICNARC patient IDs and the corresponding 'CIS Patient ID', which link to encounterID in Philips.

* 'Philips encounterId Issue List (New).xlsx' - a file documenting known issues with either encounterIds in Philips or CIS Patient IDs in WW. We clean up the IDs using this file before joining the two datasets.

* 'ICNARC_Dataset_2015-2018__clean_.xml' - xml file containing output of ICNARC dataset

* 'ICNARC CMP Dataset Properties.xlsx' - description of variables in the ICNARC dataset

In [2]:
VERBOSE = False ## For reasons of data protection we supress printing of results and data summaries.
import numpy as np
import pandas as pd

#### Functions for cleaning up the encounter IDs and parsing the ICNARC xml file are imported:

In [3]:
from clean_encounterids import *
from parse_ICNARC_xml import *

#### Clean up ICNARC CIS ID numbers.

Each record in the ICNARC data links to an encounterId in Philips. In some few cases the links are wrong (e.g. it links to an empty record). The following function fixes those encounter IDs in the ICNARC data by replacing the eroneous encounterIds in the column "CIS Patient ID". It also creates a new column "CIS Patient ID Original" which contains the original encounterIds prior to replacement. At the time of writing there are only 5 such errors for GICU.

In [4]:
icnarc_numbers = clean_icnarc_cis_ids('../ICNARC 2015-2018 encounterIds and Readmissions.TXT', 
                                      '../Philips encounterId Issue List (New).xlsx',
                                    verbose=VERBOSE)

#### Clean up Philips encounterId numbers.

The Philips database creates a new encounterId for each intensive care stay. Sometimes this process doesn't work as desired e.g. erroneous records are created, patients are accidentally discharged and readmitted creating a new record etc. 

The following function fixes the class of errors that results in multiple encounterIds that correspond to the same physical intensive care stay. It does so by replacing the erroneous encounterIds with the 'main' encounterId for that stay (i.e. the encounterId that links to the corresponding ICNARC record). It also creates a new column, encounterId_original, that contains the original ids prior to replacement. 

When the flag "log_error_type" is set to True, the function creates another new column "error_type" which specifies the type of error associated with each encounterId. It species one of 16 error types identified by Josh Inoue (UHB) and described in the file "Philips encounterId Read Me.txt", or contains "NA" if there is no known error. This flag is useful because there are encounterIds which we know have an issue but which we do not alter. For example, very occasionally a patient is discharged from ICU and then readmitted but is never removed from the Philips system. In such cases we know that a single encounterId in Philips (and in ICNARC) corresponds to two physical ICU stays. With the "error_type" flag, the user of the data can decide how they want to deal with different types of error during data processing.    

Note: here we are processing a patient summary (demographic) table so we want to log the error type for each encounter. It is not recomended or required to do this when processing a large table of physiological measurements/interventions, so the default value of log_error_type is False.

In [5]:
philips_data = clean_philips_encounterids('../encounter_summary (1).rpt', 
                                  '../Philips encounterId Issue List (New).xlsx',
                                  verbose=VERBOSE, log_error_type=True)

In [6]:
philips_data

,ptCensusId,encounterId_original,inTime,outTime,age,tNumber,lengthOfStay (mins),gender,encounterId,error_type
0,1099,1089,2015-03-01 13:27:05,2015-03-09 16:42:57,58.0,T7788877,11715,Male,1089.0,NA
1,1102,1092,2015-03-01 19:01:34,2015-03-02 17:06:43,60.0,T7364685,1325,Female,1092.0,NA
2,1103,1093,2015-03-01 22:03:42,2015-03-04 02:57:47,90.0,T5004466,3174,Female,1093.0,NA
3,1104,1094,2015-03-01 22:45:51,2015-03-01 23:03:52,73.0,T5875123,18,Female,1094.0,NA
4,1105,1095,2015-03-01 22:49:16,2015-04-13 19:26:25,43.0,T5835459,61657,Female,1095.0,NA
5,1106,1096,2015-03-02 18:35:46,2015-03-04 02:58:16,54.0,T7806868,1943,Male,1096.0,NA
6,1107,1097,2015-03-02 18:56:55,2015-03-04 00:05:24,79.0,T5089790,1749,Female,1097.0,NA
7,1108,1098,2015-03-02 20:57:39,2015-03-10 12:24:30,78.0,T5050350,11007,Female,1098.0,NA
8,1109,1099,2015-03-03 06:01:25,2015-03-12 15:58:11,70.0,T5052198,13557,Female,1099.0,NA
9,1110,1100,2015-03-03 15:26:41,2015-03-05 16:31:14,61.0,T5007198,2945,Male,1100.0,NA
10,1111,1101,2015-03-03 19:54:30,2015-03-06 13:30:38,78.0,T7855302,3936,Female,1101.0,NA
11,1112,1102,2015-03-04 07:05:31,2015-03-05 14:46:20,34.0,T5425279,1901,NaN,1102.0,NA
12,1125,1110,2015-03-04 09:49:18,2015-03-04 09:50:52,54.0,T7806868,1,Male,1096.0,NoBed PostStay
13,1126,1111,2015-03-04 09:49:21,2015-03-04 09:51:00,79.0,T5089790,2,Female,1097.0,NoBed PostStay
14,1133,1123,2015-03-04 10:35:56,2015-03-10 17:00:32,84.0,T6683637,9025,Female,1123.0,NA
15,1141,1131,2015-03-04 23:15:33,2015-03-06 19:13:12,47.0,T5636513,2638,Male,1131.0,NA
16,1148,1138,2015-03-05 18:17:50,2015-03-12 14:54:36,70.0,T5685484,9877,Male,1138.0,NA
17,1149,1139,2015-03-05 19:34:30,2015-03-06 16:52:17,64.0,T7492315,1278,Female,1139.0,NA
18,1152,1142,2015-03-05 23:28:00,2015-03-07 22:27:11,59.0,T7804428,2819,Male,1142.0,NA
19,1155,1145,2015-03-06 11:58:31,2015-03-10 15:19:32,52.0,T5995244,5961,Male,1145.0,NA
20,1159,1149,2015-03-06 15:47:26,2015-03-10 16:42:35,43.0,T6611093,5815,Male,1149.0,NA
21,1160,1150,2015-03-06 18:17:26,2015-03-06 23:27:31,64.0,T7492315,310,Female,1139.0,Split Stay
22,1162,1152,2015-03-07 00:06:05,2015-03-09 15:13:51,75.0,t6893055,3787,Female,1152.0,NA
23,1163,1153,2015-03-07 01:29:06,2015-03-07 13:38:03,43.0,T5734285,729,Male,1153.0,NA
24,1164,1154,2015-03-07 09:00:02,2015-03-07 12:10:37,115.0,t7865530,190,NaN,1154.0,NA
25,1166,1156,2015-03-07 17:27:59,2015-03-14 15:48:31,57.0,T5899509,9981,Male,1156.0,NA
26,1167,1157,2015-03-07 22:38:38,2015-03-11 10:44:43,74.0,T5214049,5046,Female,1157.0,NA
27,1168,1158,2015-03-08 09:58:31,2015-03-22 16:41:25,52.0,T7004254,20563,Female,1158.0,NA
28,1172,1162,2015-03-09 05:29:30,2015-03-10 07:08:45,79.0,T5234857,1539,Female,1162.0,NA
29,1173,1163,2015-03-09 07:53:59,2015-03-26 15:01:13,64.0,T6933643,24908,Female,1163.0,NA
...,...,...,...,...,...,...,...,...,...,...
5689,19308,19059,2019-05-14 17:37:47,2019-05-16 00:39:48,71.0,T8020147,1862,Female,19059.0,NA
5690,19309,19060,2019-05-14 19:55:21,2019-05-15 15:56:16,76.0,T6811614,1201,Male,19060.0,NA
5691,19316,19066,2019-05-15 10:56:01,2019-05-20 12:53:17,36.0,T5067617,7317,Female,19066.0,NA
5692,19317,19067,2019-05-15 11:42:41,NaT,68.0,T6431130,7447,Male,19067.0,NA
5693,19320,19070,2019-05-15 16:11:38,2019-05-16 22:41:24,63.0,T8129912,1830,Male,19070.0,NA
5694,19327,19077,2019-05-15 21:19:33,NaT,74.0,T8130243,6870,Male,19077.0,NA
5695,19328,19078,2019-05-15 23:25:50,2019-05-19 00:47:36,51.0,T6747577,4402,Male,19078.0,NA
5696,19329,19079,2019-05-16 09:15:15,2019-05-17 12:43:56,49.0,T5889825,1648,Female,19079.0,NA
5697,19331,19081,2019-05-16 10:58:55,2019-05-16 17:29:37,24.0,T6168948,391,Male,19081.0,NA
5698,19338,19088,2019-05-16 19:15:04,2019-05-18 17:21:28,72.0,T7834570,2766,Male,19088.0,NA
5699,19339,19089,2019-05-16 21:24:01,2019-05-17 19:46:28,25.0,T7511563,1342,Male,19089.0,NA
5700,19340,19090,2019-05-16 23:09:41,2019-05-19 00:50:08,74.0,T4509862,2981,Male,19090.0,NA
5701,19341,19091,2019-05-17 04:47:29,2019-05-18 10:52:09,31.0,T5962884,1805,Male,19091.0,NA
5702,19343,19093,2019-05-17 08:40:03,NaT,NaN,T6951406,4749,Female,19093.0,NA
5703,19348,19098,2019-05-17 10:03:15,2019-05-18 04:02:29,86.0,T6197906,1079,Female,19098.0,NA
5704,19353,19103,2019-05-17 16:01:38,NaT,50.0,T6738912,4308,Female,19103.0,NA
5705,19354,19104,2019-05-17 19:21:26,NaT,70.0,T5902668,4108,Male,19104.0,NA
5706,19355,19105,2019-05-17 22:02:52,2019-05-19 20:50:32,47.0,T6613546,2808,Male,19105.0,NA
5707,19357,19106,2019-05-18 05:16:52,2019-05-18 18:33:00,19.0,T8130709,797,Male,19106.0,NA
5708,19359,19108,2019-05-18 12:19:08,NaT,72.0,T4189442,3090,Female,19108.0,NA
5709,19362,19111,2019-05-18 17:23:48,2019-05-20 11:08:41,73.0,T8129932,2505,Male,19111.0,NA
5710,19364,19113,2019-05-18 22:59:12,NaT,70.0,T6793820,2450,Male,19113.0,NA
5711,19365,19114,2019-05-19 02:53:24,NaT,26.0,T6020906,2216,Female,19114.0,NA
5712,19369,19118,2019-05-19 14:02:55,NaT,76.0,T8130872,1547,Male,19118.0,NA
5713,19371,19120,2019-05-19 16:12:36,NaT,62.0,T5468087,1417,Male,19120.0,NA
5714,19372,19122,2019-05-19 17:33:09,2019-05-19 17:33:26,65.0,T7913307,0,Female,19122.0,NA
5715,19374,19123,2019-05-19 19:38:19,NaT,25.0,T6824464,1211,Female,19123.0,NA
5716,19381,19130,2019-05-20 10:21:51,NaT,60.0,T7010687,328,Male,19130.0,NA
5717,19384,19133,2019-05-20 15:23:07,NaT,50.0,T0057798,26,Male,19133.0,NA
5718,19385,19134,2019-05-20 15:43:09,NaT,41.0,T5342504,6,Male,19134.0,NA

In [6]:
merged_data = join_icnarc_to_philips(philips_data, icnarc_numbers, verbose=VERBOSE)

In [7]:
merged_data = combine_non_unique_encounters(merged_data, combine='simple', verbose=VERBOSE)

#### 'merged_data' now has a one-to-one mapping from ICNARC numbers to Philips encounterIds (CIS Patient ID). It also contains some summary data on each ITU episode that was extracted from Philips:

In [8]:
print(merged_data.columns)

Index([u'CIS Patient ID', u'Readmission during this hospital stay',
       u'ICNARC number', u'tNumber', u'encounterId_original', u'inTime',
       u'outTime', u'lengthOfStay (mins)', u'gender', u'Unit ID',
       u'CIS Patient ID Original', u'ptCensusId', u'CIS Episode ID', u'age'],
      dtype='object')

#### We now parse the xml file that contains the ICANRC CMP dataset variables:

In [8]:
icnarc_data = parse_icnarc_xml("../ICNARC_Dataset_2015-2018__clean_.xml",
                               "../ICNARC CMP Dataset Properties.xlsx",
                              verbose=VERBOSE)

In [9]:
icnarc_data = icnarc_data.merge(merged_data, on=['ICNARC number', 'Unit ID'])

In [10]:
print("The XML file has %d ITU stays," %len(icnarc_data))
print("But the merged WW and Philips dataframe has %d stays." %len(merged_data))

The XML file has 4831 ITU stays,
But the merged WW and Philips dataframe has 4834 stays.

#### There are 3 stays missing from the XML file, these are:

In [11]:
merged_data[~merged_data['ICNARC number'].isin(icnarc_data['ICNARC number'])] ## Output deleted for data protection.

,CIS Patient ID,Readmission during this hospital stay,ICNARC number,tNumber,encounterId_original,inTime,outTime,lengthOfStay (mins),gender,Unit ID,CIS Patient ID Original,ptCensusId,CIS Episode ID,age
304,1965.0,No,20150532,T5451566,1965,2015-05-30 22:16:52,2015-06-05 17:15:54,8339,Female,1,1965.0,1983,0,67.0
400,2253.0,No,20150631,T7712711,2253,2015-06-30 18:36:57,2015-07-01 16:37:15,1321,Male,1,2253.0,2271,0,47.0
629,2917.0,No,20150867,T7891859,2917,2015-09-03 19:04:11,2015-09-12 19:07:58,12963,Male,1,2917.0,2936,0,75.0

#### We now evaluate some basic statistics to characterise the patient cohort:

In [12]:
convert_minutes_to_days = lambda x: x/float(24*60)

#### First we use variables from the initial WW/Philips join:

In [13]:
def print_ww_philips_summary(df):

    median_age = np.median(df['age'].values)
    age_q25, age_q75 = np.percentile(df['age'].values, [25,75])
    print "Age, median years (IQR): %.1f (%.1f, %.1f)" %(median_age,age_q25,age_q75) 

    median_los = convert_minutes_to_days(np.median(df['lengthOfStay (mins)'].values))
    los_q25, los_q75 = map(convert_minutes_to_days, np.percentile(df['lengthOfStay (mins)'].values, [25,75]))
    print "LOS, median days (IQR): %.1f (%.1f, %.1f)" %(median_los,los_q25,los_q75)
    print ""
    
    n_male = sum(df['gender']=='Male')
    n_female = sum(df['gender']=='Female')
    no_gender = sum(df['gender'].isna())    
    print "Gender, %% female: %.1f" %(100 * n_female / float(n_male + n_female))
    print "(%.1f %% of patients have no gender recorded in Philips.)" %(100*no_gender/float(len(icnarc_data)))
    print " "
    
    readmit = sum(merged_data['Readmission during this hospital stay']=='Yes')
    no_readmit = sum(merged_data['Readmission during this hospital stay'].isna())
    print "Readmission to ICU, #(%%) : %d (%.1f)" %(readmit, 100*readmit/float(len(merged_data)))
    print "(%.1f %% of patients have no recording for this variable in WW.)" %(100*no_readmit/float(len(icnarc_data)))

In [14]:
print_ww_philips_summary(icnarc_data)

Age, median years (IQR): 64.0 (50.0, 73.0)
LOS, median days (IQR): 3.0 (1.7, 5.6)

Gender, % female: 39.7
(0.1 % of patients have no gender recorded in Philips.)

Readmission to ICU, #(%) : 147 (3.0)
(0.0 % of patients have no recording for this variable in WW.)

#### To validate these we now look at the same variables in the XML file of the ICNARC dataset:

### TODO: convert the dates and times to datetime objects and calculate Age and LOS...

#### How much missing data in the ICNARC xml?

### Note: is this right or has the parsing missed values? e.g. 1231 with no outcome on leaving hospital?

In [15]:
print sum(icnarc_data['Weight in kg'].isna())
print sum(icnarc_data['Height in cm'].isna())
print sum(icnarc_data['Status at discharge from your hospital'].isna())
print sum(icnarc_data['Status at ultimate discharge from hospital'].isna())
print sum(icnarc_data['Time when fully ready to discharge'].isna())
print sum(icnarc_data['Status at discharge from your unit'].isna())
print sum(icnarc_data['Status at ultimate discharge from ICU/HDU'].isna())
print sum(icnarc_data['Reason for discharge from your unit'].isna())
print sum(icnarc_data['Sex'].isna())

0
0
1231
4505
1103
0
4733
703
0

#### We calculate BMI:

In [16]:
icnarc_data['bmi'] = icnarc_data['Weight in kg'].astype(float)/((icnarc_data['Height in cm'].astype(float)/100.0)**2)

In [17]:
print sum(icnarc_data['Sex']=='F')/float(len(icnarc_data))
print np.median(icnarc_data['bmi'].values)

0.39639826123
26.564344746162927

In [18]:
no_outcome = icnarc_data[icnarc_data['Status at discharge from your hospital'].isna()]

#### Make some plots...

### Need to get dictionary for ICNARC codes

In [19]:
icnarc_data['Primary reason for admission to your unit']

0        2.7.1.13.3
1       2.11.1.27.1
2        1.3.5.30.1
3        2.3.9.28.1
4        1.1.5.27.2
5        2.6.8.34.5
6        1.3.3.39.1
7        2.7.1.13.1
8       1.3.10.27.6
9        1.3.9.39.1
10       2.1.2.30.1
11       2.1.2.27.1
12        2.1.4.6.1
13       2.2.1.30.1
14       1.7.3.39.1
15       1.3.6.39.2
16      2.2.12.35.4
17       2.4.2.33.1
18       1.3.9.39.1
19      2.2.12.35.2
20        2.6.8.1.2
21       1.3.2.15.1
22       1.3.7.27.1
23       2.9.2.25.1
24       2.1.4.27.5
25       2.1.4.27.1
26       1.1.4.39.1
27        2.1.4.6.1
28       2.7.1.13.4
29       1.3.9.39.1
           ...
4801      2.4.2.7.3
4802      2.4.2.7.3
4803     1.3.5.41.4
4804     2.6.8.1.10
4805     2.1.2.30.1
4806     2.6.8.34.5
4807      2.4.2.7.3
4808     1.3.1.39.3
4809    1.10.2.56.2
4810     1.3.6.57.1
4811     2.7.1.13.1
4812      2.4.2.7.3
4813     2.1.10.7.3
4814     2.6.8.34.9
4815     1.7.3.39.1
4816     1.1.9.56.1
4817     1.4.1.39.5
4818     2.7.1.27.1
4819     1.1.5.39.2
4820     1.1.4.39.1
4821     2.2.5.40.3
4822     1.3.5.30.3
4823     2.9.2.39.2
4824     1.3.6.30.1
4825     2.1.4.27.9
4826      2.4.2.7.3
4827     1.3.1.39.3
4828     1.3.5.30.5
4829     2.1.4.27.5
4830      2.4.2.7.3
Name: Primary reason for admission to your unit, Length: 4831, dtype: object